name: test

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"

jobs:
  unit-test:
    strategy:
      fail-fast: true

    name: unit-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install Rust
        run: rustup update 1.69

      - name: Install target
        run: rustup target add wasm32-unknown-unknown

      - name: Install cw-optimizoor
        run: cargo install cw-optimizoor

      - name: Run tests
        run: cargo test --workspace --exclude hpl-tests

      - name: Optimize wasm
        run: cargo cw-optimizoor

  coverage:
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        run: rustup update nightly

      - name: Install target
        run: rustup target add wasm32-unknown-unknown

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Generate code coverage
        run: cargo llvm-cov --all-features --workspace --exclude hpl-tests --codecov --output-path codecov.json

      - name: Upload to codecov.io
        uses: codecov/codecov-action@v3
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          fail_ci_if_error: true
